[worldserver]

###################################################################################################
#	CODEBOX NPC
###################################################################################################

# Announce the module when the player logs in?

Codebox.Announce = 1
Codebox.MessageTimer = 60000
